html { 
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
}

body {
	background: #2b2b2b;
	color: #989898;
	font-family: "Roboto", Helvetica, Arial, sans-serif; 
	font-size: 1.6rem;
	line-height: 1.75;

}

@keyframes thank {
  	33%   {color: #000000;}
  	33%  {color:  #d4af37;}
  	33%  {color: #FFFFFF;}

		}
@keyframes you{
	33%  {background-color: #d4af37;}
	33%  {background-color: #FFFFFF;}
	33%  {background-color: #000000;}
}
h1, h2{
	font-family: 'Montserrat', sans-serif;
	padding-left: 40%;
	letter-spacing: 5px;
	color: #fff;
	
	animation-name: you;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-name: thank;
	animation-duration: 5s;
	animation-iteration-count: infinite;
		}
