html { 
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
}

body {
	background: #2b2b2b;
	color: #989898;
	font-family: "Roboto", Helvetica, Arial, sans-serif; 
	font-size: 1.6rem;
	line-height: 1.75;
	word-wrap: break-word;
}

@keyframes thank {
  			33%   {color: #000000;}
  			34%  {color:  #d4af37;}
  			33%  {color: #FFFFFF;}
		}
h1{
			font-family: 'Montserrat', sans-serif;
			padding-left: 100px
			letter-spacing: 8px;
			text-transform: uppercase;
			color: #fff;
			animation-name: thank;
			animation-duration: 5s;
			animation-iteration-count: infinite;
		}
